html > body {
	font-family: "Jua", sans-serif;
	background-color: #e84234;
}

.body_wrapper {
	max-width: 2000px;
	margin: 0 auto;
}

/* header Start */
header {
	padding: 1rem 2rem 1rem 2rem;
}

.header_wrap {
	border: 2px solid rgb(131, 75, 22);
	border-radius: 2.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #fbde86;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header_wrap > * {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.5rem 0.5em 0.5rem;
}

.header_wrap > *:first-child {
	justify-content: start;
}

.menu_btn_box {
  display: none;
}

.logo_box > a {
	margin-left: 2rem;
}

.logo_box > a > img {
	width: 7rem;
	height: 4.5rem;
}

.header_wrap > *:not(:first-child) > a > span {
	font-size: 1.8rem;
	color: rgb(131, 75, 22);
	transition: color .4s;
}

.header_wrap > *:not(:first-child) > a:hover > span {
	color: #fcc41b;
}

.mo-header_wrap {
  position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background-color: #f7e7c1;
	z-index: 10;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	min-height: 0;
	max-height: 0;

  @media (540px <= width) {
    visibility: hidden;
  }
}

.mo-header_wrap.active {
  min-height: 290px;
  max-height: 350px;
  visibility: visible;
}

.mo-header_wrap > .mo-menu-items {
  padding: 1rem 1.5rem 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 3px solid rgb(196,141,63);
  border-bottom: 3px solid rgb(196,141,63);
}

.mo-header_wrap > .mo-menu-items > ul {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.mo-header_wrap > .mo-menu-items > ul > a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem 1rem 2rem;
  border: 4px solid rgb(196,141,63);
  border-radius: 2rem;
  margin-bottom: 1rem;
  background-color: #f8f4c7;
  transition: background-color .5s;
}

.mo-header_wrap > .mo-menu-items > ul > a:last-child {
  margin-bottom: 0;
}

.mo-header_wrap > .mo-menu-items > ul > a > span {
  font-size: 1.5rem;
  color: rgb(196,141,63);
}

.mo-header_wrap > .mo-menu-items > ul > a:hover {
  border: 4px solid #FFCA28;
  background-color: rgb(196,141,63);
}

.mo-header_wrap > .mo-menu-items > ul > a:hover > span {
  color: #f8f4c7;
}
/* header End */

/* footer Start */
footer {
	padding-top: 5rem;
	width: 100%;
}

.footer_wrap {
	display: flex;
	flex-direction: column;
	border-top: 2px solid rgb(196,141,63);
	background-color: #fbde86;
	padding: 1rem 3rem 1rem 3rem;
}

.footer_wrap > .footer-wrap-01 {
	display: grid;
	grid-template-columns: 1.5fr 0.5fr;
}

.footer-wrap-01 > .link-items {
	display: flex;
	align-items: center;
}

.footer-wrap-01 > .link-items > ul {
	display: flex;
	flex-direction: row;
}

.footer-wrap-01 > .link-items > ul > li {
	padding-right: 2rem;
}

.footer-wrap-01 > .link-items > ul > li > a {
	color: rgb(131, 75, 22);
	font-size: 1.3rem;
	transition: color .5s;
}

.footer-wrap-01 > .link-items > ul > li > a:hover {
	color: #FFCA28;
}

.footer-wrap-01 > .link-items > ul > li:last-child {
	padding-right: 0rem;
}

.footer-wrap-01 > .footer-logo-box {
	display: flex;
	justify-content: end;
	align-items: center;
}

.footer-wrap-01 > .footer-logo-box > a > img {
	width: 11rem;
	height: 7rem;
}

.footer_wrap > .footer-wrap-02 {
	display: grid;
	grid-template-columns: 1.5fr 0.5fr;
	padding-top: 6rem;
	padding-bottom: 1rem;

  @media (900px >= width) {
    padding-top: 4rem;
  }
}

.footer-wrap-02 > .copyright {
	display: flex;
	flex-direction: column;
	padding-right: 6rem;
}

.footer-wrap-02 > .copyright > span {
	color: rgb(131, 75, 22);
	font-size: 1rem;
}

.footer-wrap-02 > .copyright > span:last-child {
	padding-top: 0.7rem;
}

.footer-wrap-02 > .sns {
	display: flex;
	justify-content: end;
	align-items: end;
}

.footer-wrap-02 > .sns > ul {
	display: flex;
	flex-direction: row;
}

.footer-wrap-02 > .sns > ul > li {
	padding-right: 2rem;
}

.footer-wrap-02 > .sns > ul > li:last-child {
	padding-right: 0rem;
}

.footer-wrap-02 > .sns > ul > * > a > i {
	font-size: 1.7rem;
}
/* footer End */

@media (1035px > width > 810px) {
	.header_wrap > *:not(:first-child) > a > span {
		font-size: 1.5rem;
	}

	.footer-wrap-01 > .link-items > ul > li {
		padding-right: 1.2rem;
	}

	.footer-wrap-01 > .link-items > ul > li > a {
		font-size: 1rem;
	}

	.footer-wrap-01 > .footer-logo-box > a > img {
		width: 8rem;
		height: 6rem;
	}
}

@media (810px >= width) {
	.header_wrap > *:not(:first-child) > a > span {
		font-size: 1.4rem;
	}

	.footer-wrap-01 > .link-items > ul {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.footer-wrap-01 > .link-items > ul > li {
		padding-right: 2rem;
		padding-bottom: 1rem;
	}

	.footer-wrap-01 > .link-items > ul > li > a {
		font-size: 1rem;
	}

  .footer-wrap-02 > .copyright > span:last-child {
		display: none;
	}
}

@media (700px >= width) {
	.logo_box > a > img {
		width: 5rem;
		height: 3.5rem;
	}

	.header_wrap > *:not(:first-child) > a > span {
		font-size: 1.3rem;
	}

	.footer_wrap > .footer-wrap-02 {
		padding-top: 3rem;
	}

	.footer-wrap-02 > .copyright {
		padding-right: 3rem;
	}

  .footer-wrap-01 > .footer-logo-box > a > img {
		width: 8rem;
		height: 5.5rem;
	}

  .footer-wrap-02 > .sns > ul > * > a > i {
		font-size: 1.3rem;
	}
}

@media (540px >= width) {
	header {
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    background-color: #fbde86;
  }
  
  .header_wrap {
    border: 0px;
    display: flex;
    box-shadow: none;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .header_wrap > * {
    padding: 0;
  }

  .menu_btn_box {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }

  .menu_btn_box > .menu_btn > i {
    font-size: 2.8rem;
  }

  .header_wrap > *:not(:first-child):not(:last-child) {
    display: none;
  }
  
  .logo_box > a {
    margin-left: 0;
  }
  
  .logo_box > a > img {
    width: 7rem;
    height: 4.5rem;
  }

  .footer_wrap {
    padding: 1rem;
  }

  .footer-wrap-01 > .link-items > ul > li {
		padding-right: 1rem;
		padding-bottom: 1rem;
	}
}

@media (435px >= width) {
  .footer_wrap > .footer-wrap-01 {
    grid-template-columns: 1fr;
  }

  .footer-wrap-01 > .link-items > ul > li {
		padding-right: 2rem;
		padding-bottom: 0.5rem;
	}

  .footer-wrap-01 > .footer-logo-box {
		display: none;
	}

  .footer_wrap > .footer-wrap-02 {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .footer-wrap-02 > .sns {
    justify-content: start;
    padding-top: 0.5rem;
  }
}