.body-wrap {
	padding: 0rem 2rem 1rem 2rem;
}

/* body-wrap-01 */
.body-wrap-01 {
  height: 30rem;
  padding-bottom: 2.5rem;
}

.body-wrap-01 .main-img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.body-wrap-01 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center 60%;
  display: block;
  border-radius: 2rem;
}

/* body-wrap-02 */
.body-wrap-02 {
  margin-top: 2rem;
}

.body-wrap-02 > .event-tit > nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.body-wrap-02 > .event-tit > nav > span {
  color: #FFCA28;
  font-size: 4rem;
}

hr {
  border: 2px solid white;
  border-radius: 1rem;
}

.body-wrap-02 > .event-content > .tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;

  @media(685px > width) {
    grid-template-columns: 1fr;
  }
}

.event-cont {
  padding: 1.5rem;
  height: 30rem;
  border-radius: 3rem;
}

.content-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content-img {
  width: 100%;
  height: 70%;
  border-radius: 3rem;
  overflow: hidden;
}

.content-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content-content {
  width: 100%;
  height: 30%;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-content > span:first-child {
  padding-bottom: 1rem;
  font-size: 2.2rem;

  @media(790px > width) {
    font-size: 2rem;
  }

  @media(745px > width) {
    font-size: 1.5rem;
  }
}

.content-content > span:last-child {
  font-size: 1.2rem;
  text-align: center;

  @media(790px > width) {
    font-size: 1rem;
  }
}

.content-01-content > span:first-child {
  color: #4bb14e;
}

.content-01-content > span:last-child {
  color: rgb(131, 75, 22);
}

.content-02-content > span:first-child {
  color: #FFCA28;
}

.content-02-content > span:last-child {
  color: rgb(131, 75, 22);
}

.content-03-content > span:first-child {
  color: #FFCA28;
}

.content-03-content > span:last-child {
  color: #ff9391;
}

.content-04-content > span:first-child {
  color: #3f83a1;
}

.content-04-content > span:last-child {
  color: #FFCA28;
}

.tab-02 {
  display: none;
}

.event-btn {
  height: 5rem;
  width: 100%;
  margin-top: 2rem;
}

.event-btn-wrap {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.swiper-prev > i {
  font-size: 2rem;
  color: white;
}

.swiper-next > i {
  font-size: 2rem;
  color: white;
}

.paging {
  padding-left: 1rem;
  padding-right: 1rem;
}

.paging-01 > ul {
  display: flex;
  flex-direction: row;
}

.paging-01 > ul > li {
  margin-right: 1.5rem;
  cursor: pointer;
  color: white;
  padding: 1rem;
}

.paging-01 > ul > li:hover {
  background-color: #FFCA28;
  border-radius: 2rem;
}

.paging-01 > ul > li:last-child {
  margin-right: 0;
}

.paging-02 {
  display: none;
}

.paging-02 > ul {
  display: flex;
  flex-direction: row;
}

.paging-02 > ul > li {
  margin-right: 1.5rem;
  cursor: pointer;
  color: white;
  padding: 1rem;
}

.paging-02 > ul > li:hover {
  background-color: #FFCA28;
  border-radius: 2rem;
}

.paging-02 > ul > li:last-child {
  margin-right: 0;
}

@media (541px > width) {
  .body-wrap {
    padding: 0;
  }

  .body-wrap-01 .main-img {
    border-radius: 0;
  }
  
  .body-wrap-01 img {
    border-radius: 0;
  }
}