html > body {
	font-family: "Jua", sans-serif;
	background-color: #F7E7C1;
}

/* header Start */
header {
	padding: 1rem 2rem 1rem 2rem;
}

.header_wrap {
	border: 2px solid rgb(196,141,63);
	border-radius: 2.5rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	background-color: #f8f4c7;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.header_wrap > * {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.5rem 0.5em 0.5rem;
}

.header_wrap > *:first-child {
	justify-content: start;
}

.logo_box > a {
	margin-left: 2rem;
}

.logo_box > a > img {
	width: 7rem;
	height: 4.5rem;
}

.header_wrap > *:not(:first-child) > a > span {
	font-size: 1.8rem;
	color: rgb(196,141,63);
	transition: color .4s;
}

.header_wrap > *:not(:first-child) > a:hover > span {
	color: #FFCA28;
}
/* header End */

/* body Start */
.body-wrap {
	padding: 0rem 2rem 1rem 2rem;
}

.body-wrap-01 {
	position: relative;
}

.body-wrap-01 > .main-img-box {
	display: flex;
	align-items: center;
	justify-content: center;
}

.body-wrap-01 img {
	display: block;
	/* width: 85rem; */
	width: 100%;
	height: 40rem;
	filter: saturate(85%);
	border: 1.5px solid rgb(196,141,63);
	border-radius: 2rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.body-wrap-01 > .download-btn {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.body-wrap-01 > .download-btn > a {
	background-color: rgb(196,141,63);
	padding: 0.5rem 2rem 0.5rem 2rem;
	border: 4px solid #f8f4c7;
	border-radius: 1rem;
	display: flex;
	text-align: center;
	justify-content: center;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	transition: background-color .5s;
}

.body-wrap-01 > .download-btn > a > span {
	font-size: 1.5rem;
	color: #f8f4c7;
	transition: color .5s;
}

.body-wrap-01 > .download-btn > a:hover {
	background-color: #f8f4c7;
	border: 4px solid rgb(196,141,63);
}

.body-wrap-01 > .download-btn > a:hover > span {
	color: rgb(196,141,63);
}

.body-wrap-01 > .download-btn > a:active {
	transform: scale(0.95); 
}

.body-wrap-02 > .body-tit {
	padding: 4rem 0rem 2rem 0rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.body-wrap-02 > .body-tit > span {
	color: rgb(196,141,63);
	font-size: 2rem;
	letter-spacing: 1.5rem;
}

.body-wrap-02 .body-box-01 > .box-01-wrap {
	border: 2px solid rgb(196,141,63);
	border-radius: 2rem;
	background-color: #f8f4c7;
	display: flex;
	flex-direction: row;
	padding: 1.5rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.body-wrap-02 .body-box-01 > .box-01-wrap > .box-01-text {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-right: 2rem;
}

.body-wrap-02 .body-box-01 > .box-01-wrap > .box-01-text span {
	color: rgb(196,141,63);
	font-size: 1.2rem;
}

.body-wrap-02 .body-box-01 .box-01-text > .box-01-tit > span {
	font-size: 2rem;
}

.body-wrap-02 .body-box-01 .box-01-text > .box-01-content {
	padding-top: 1rem;
}

.body-wrap-02 .body-box-01 .box-01-img {
	width: 50%;
	height: 20rem;
}

.body-wrap-02 .body-box-01 .box-01-img .swiper-slide {
	border-radius: 2rem;
	overflow: hidden;
}

.body-wrap-02 .body-box-01 .box-01-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.body-wrap-02 .body-box-02 {
	margin-top: 2rem;
}

.body-wrap-02 .body-box-02 > .box-02-wrap {
	border: 2px solid rgb(196,141,63);
	border-radius: 2rem;
	background-color: #f8f4c7;
	display: flex;
	flex-direction: row;
	padding: 1.5rem;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.body-wrap-02 .body-box-02 > .box-02-wrap > .box-02-text {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: 2rem;
}

.body-wrap-02 .body-box-02 > .box-02-wrap > .box-02-text span {
	color: rgb(196,141,63);
	font-size: 1.2rem;
}

.body-wrap-02 .body-box-02 .box-02-text > .box-02-tit > span {
	font-size: 2rem;
}

.body-wrap-02 .body-box-02 .box-02-text > .box-02-content {
	padding-top: 1rem;
}

.body-wrap-02 .body-box-02 .box-02-img {
	width: 50%;
	height: 20rem;
}

.body-wrap-02 .body-box-02 .box-02-img .swiper-slide {
	border-radius: 2rem;
	overflow: hidden;
}

.body-wrap-02 .body-box-02 .box-02-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}